
.text-color {
    color: #EA182B
}
.text-link {
    color: black
}
.profile-comparision-text {
    color: #7E0462
}
.loader-color {
    color: #2E86C1
}
.row-text-align { 
    text-align:left 
}
.container-top{
    padding-top: 50px;
}
.heading {
  text-align: left;
  font-size: 3.5ch
}
.padding{
    padding: 10px
}
.padding-top { 
    padding-top: 20px 
}
.padding-left { 
    padding-left: 20px
}

.margin {
    margin: 10px
}
.marigin-top { 
    margin-top: 10px
}
.card-align{
    text-align: "center"
}
.card-width{
    width: "100%" 
}
.table-header-color {
    background-color:#DEE9F2;
    color:#000000;
}
.placeholder-style {
    font-size: 1.0em;
    font-weight: bold
}

/* ============ Bils styles Start=========*/
.row-text-bill {
    padding-left: 10px;
    font-style: oblique;
}
.bill-amount-color{
    color: darkgreen;
}
.strong-text {
    font-size:20px;
    margin-left:20px;
} 
.date-format { 
    background-color: #054FF8;
    color: #FFFFFF;
    padding-top: 10px
}
.column-text {
    margin-top: 10px
}
dropdown-align {
    margin-top: 7px;
    float: right
}
.black-color { 
    color: #000000;
}
.delete-model-padding {
     padding-top: 20%
     }
.header-search{
    margin:30;
    padding-left:50
}
.date-formate{
    padding-top: 5px;
}
.business-address{
 text-align: left;
 margin-inline-end: 0ch;
 padding-left: 80px;
}
.padding-left {
    padding-left: 20px
}
.bill-edit-button {
    background-color: "transparent";
    border-color: forestgreen;
    color: forestgreen; 
}
.bill-remove-button {
    background-color: "transparent";
    /* border-color: rgb(170, 9, 9);
    color: rgb(170, 9, 9);  */
    color: red; 
    border-color: red;
}
/* ============ End Bils styles=========*/
/* ============ start Category styles=========*/
.update-category{
    font-weight: 'bold';
     color: '#000000'
}
.link-text{
    text-decoration: 'none'
}
.option-select{
    color:"#008000";
    font-weight:"bold"
}
/* ============ End Category styles=========*/

/* ============ start Contacts styles=========*/
.faPaperclip{
    color:"#34aec1";
    margin-top: 5;
    margin-left: 10;
    size:17 
}
.attachments{
    padding-left: 29px;
    padding-top: 10px;
    color: black

}
/* ============ End Contacts styles=========*/

/* ========= Start Labels & Categories Styless ===========*/
.ellipsisText1{
    flex: 1;
    display: "flex";
    align-items: "center";
    margin-left: '-10' 
}
.ellipsisText2{
    flex: 1;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
}
.fa-trash-alt{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    color: #EA182B
}
.fa-pen{
    margin-top: 20px;
    /* color: blue */
    color: #2E86C1
}

.button-hover{
    float: left;
    border:none;
    color:#187AD1;
}

.button-hover:hover{
   text-decoration:underline;
}

.button-hover:focus{
    outline:0;
 }
/* ================== User Invoice Code ================== */
 .h1-padding{
    padding-bottom : 1;
 }
 .p-style{
    padding-top: 20px;
    padding-block-end: 60px;
 }
 .span-left{
    float : left;
 }
 .span-right{
    float : right;
 }
 .tabel{
     border: none;
 }
 .tbody-net{
     float : right;
 }
 .container-border{
   border-style: ridge;
   padding-top :20px;
 }

.text-size{
    font-size: 16;
    font-weight: bold;
    color: #6F6D6D;
}
/* ================== END  =================*/
/* ===Dashboard==== */
.card-title{
 color:#FFFFFF;
}
.card-style{
    height: 40px; 
    margin-top: 40px;
}
.overdue-bill{
    background-color: "#F4FA58";
}
.upcoming-bill{
    background-color: "#5882FA";
}
.paid-bill{
    background-color: "#04B404";
}
.unpaid-bill{
    background-color: "#FA5858";
}
/* ====*/
