.text-color {
    color: #EA182B
}
.warning-message {
    color: #072567
}
.router-link {
    color: aliceblue
}
.text-link {
    color: black
}

.loader-color {
    color: #2E86C1
}
.row-text-align { 
    text-align:left 
}
.container-top{
    padding-top: 50px;
}
.padding{
    padding: 10px
}
.padding-top { 
    padding-top: 20px 
}
.margin {
    margin: 10px
}
.marigin-top { 
    margin-top: 10px
}
.card-align{
    text-align: "center"
}
.card-width{
    width: "100%" 
}
.table-header-color {
    background-color:#DEE9F2;
    color:#000000;
}
.placeholder-style {
    color: #000000;
    font-size: 1.0em;
    font-weight: bold
}

/* ============ Bils styles Start=========*/
.row-text-bill {
    padding-left: 10px;
    font-style: oblique;
}
.strong-text {
    font-size:20px;
    margin-left:20px;
} 
.date-format { 
    background-color: #054FF8;
    color: #FFFFFF;
    padding-top: 10px
}
.column-text {
    margin-top: 10px
}
dropdown-align {
    margin-top: 7px;
    float: right
}
.delete-model-padding {
     padding-top: 20%
     }
.header-search{
    margin:30;
    padding-left:50
}
.date-formate{
    padding-top: 5px;
}
.padding-left {
    padding-left: 20px
}
/* ============ End Bils styles=========*/
/* ============ start Category styles=========*/
.update-category{
    font-weight: 'bold';
     color: '#000000'
}
.link-text{
    text-decoration: 'none'
}
.option-select{
    color:"#008000";
    font-weight:"bold"
}
/* ============ End Category styles=========*/

/* ============ start Contacts styles=========*/
.faPaperclip{
    color:"#34aec1";
    margin-top: 5;
    margin-left: 10;
    size:17 
}
.attachments{
    padding-left: 29;
    padding-top: 10;
    color: black

}
/* ============ End Contacts styles=========*/

/* ========= Start Labels & Categories Styless ===========*/
.ellipsisText1{
    flex: 1;
    display: "flex";
    align-items: "center";
    margin-left: '-10' 
}
.ellipsisText2{
    flex: 1;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
}
.fa-trash-alt{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    color: #EA182B
}
.fa-pen{
    margin-top: 20px;
    /* color: blue */
    color: #2E86C1
}

.button-hover{
    float: left;
    border:none;
    color:#187AD1;
}

.button-hover:hover{
   text-decoration:underline;
}

.button-hover:focus{
    outline:0;
 }
/* ================== END  =================*/
